.TagList__horizontal {
  max-width: 48rem;
  margin: 0 auto 0.5rem;
  a {
    font-size: 95%;
    display: inline-block;
    margin: 0.1rem 0.4rem 0.1rem 0;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
    transition: 0.2s all ease-in-out;
    @include themify($themes) {
      background: #FFF !important;;
      color: #333;
      border: 1px solid #eee;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.16),0 1px 2px 0 rgba(0,0,0,0.26);
      padding: 5px;
    }
    &:hover {
      @include themify($themes) {
        background: themed('backgroundColor');
        color: themed('textColorPrimary');
        border: themed('borderDark');
      }
    }
  }
}
