$color-infowars: #6B9FCF;
$color-tix: #23a749;
$color-kanda: #ca9b31;
$color-list: #8e0af6;
$color-archon: #e31337;
$color-gile: #79c91e;
$color-ash: #c0c0c0;
$color-dsl: #0f6eda;
$color-pimp: #c0c0c0;
$color-grad: #f19c59;
$color-hustler: #b668fc;
$color-revx: #60b0cd;
$color-vibes: #c0cb0e;
$color-pob: #ea6363;
$color-cine: #f1b263;
$color-bht: #65caca;

$color-white: #fff;
$color-black: #000;
$color-red: #ff0264;
$color-blue: #004EFF;
$color-blue-original-dark: #1A5099;
$color-blue-original-light: #4BA2F2;
$color-blue-black: #171F24;
$color-blue-black-darkest: #11161A;
$color-blue-dark: #2C3A45;
$color-teal: #59ED3A;
$color-teal-light: #59ED3A;
$color-teal-dark: #59ED3A;

$color-yellow: #fce76c;
$color-orange: #F76900;
$color-transparent: transparent;

$color-background-almost-white:#fefefe;
$color-background-off-white: #f5f5f5 !important;
$color-background-off-white-dark: #f4f4fd;
$color-background-off-white-darker: #f0f0f0;
$color-background-dark: #1C252B;
$color-background-less-dark: #2c3136;
$color-background-super-dark: #10151b;

$color-text-dark: #333;
$color-text-white: #fcfcfc;
$color-text-blue: #004EFF;
$color-text-gray: #788187;
$color-text-gray-light: #A6B2BA;
$color-text-teal: #59ED3A;
$color-text-red: $color-red;

$color-border-light: #eee;
$color-border-less-light: #e5e5e5;
$color-border-light-lightest: #f6f6f6;
$color-border-dark: #232F38;
$color-border-dark-lightest: #2B3A45;

$font-primary: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$alert-color: $color-red;
